{% extends "layout.html" %}

{% block index_activo %}
active
{% endblock %}

{% block about_activo %}

{% endblock %}

{% block contenido %}
<h2>
<br>Estoy aprendiendo a programar juegos en unity y lo primero que nos enseñan es a crear el personaje.<br>
<br>Esto es lo que llevo:<br>
<img src="https://i.pinimg.com/originals/8a/ae/13/8aae137da8d3e63890f35e9bef90c0e7.png" style="width: 1000px; height: 600px;"/>
<br> Espero que se vea mejor que esto cuando tenga que publicar el juego... <br>
<br> PODRIA USAR ESTA PAGINA WEB PARA ESO!! <br>
</h2>
{% endblock %}